# no backup files, editor temp
*~
\#*
*.bak
.idea/

coverage.clover
git-phpcs.phar
htdocs/mainfile.php
htdocs/class/libraries/composer.json
htdocs/class/libraries/composer.lock
htdocs/xoops_data/caches/smarty_cache/*
htdocs/xoops_data/caches/smarty_compile/*
htdocs/xoops_data/caches/xoops_cache/*
htdocs/xoops_data/caches/xoops_cache/*/
htdocs/xoops_data/configs/*
htdocs/xoops_data/protector/*
htdocs/xoops_data/data/secure.php
htdocs/xoops_data/data/license.php
htdocs/xoops_data/data/*key*
