[submodule "htdocs/modules/news"]
	path = htdocs/modules/news
	url = git@github.com:koreus/news.git
[submodule "htdocs/modules/newbb"]
	path = htdocs/modules/newbb
	url = git@github.com:koreus/newbb.git
[submodule "htdocs/themes/xswatch5"]
	path = htdocs/themes/xswatch5
	url = git@github.com:koreus/xswatch5.git
[submodule "htdocs/super"]
	path = htdocs/super
	url = git@github.com:koreus/super.git
[submodule "htdocs/themes/xboost"]
	path = htdocs/themes/xboost
	url = git@github.com:koreus/xboost.git
