<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="XOOPS Core">
            <directory>unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../htdocs/class</directory>
            <directory suffix=".php">../htdocs/kernel</directory>
            <directory suffix=".php">../htdocs/include</directory>
            <directory suffix=".php">../htdocs/modules/system</directory>
        </include>
        <exclude>
            <directory>../htdocs/class/libraries/vendor</directory>
            <directory>../htdocs/class/xoopseditor</directory>
        </exclude>
    </source>
</phpunit>
