/**
 * User: Alessandro Battaglia
 * Date: 17/05/2022
 * Time: 15:24
 */

.vertical.carousel .carousel-item {
    overflow: hidden;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active.carousel-item-end {
    transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
    transform: translateY(-100%);
}

.vertical.carousel .carousel-indicators {
    top: 0;
    left: unset;

    margin-left: unset !important;
    margin-right: 1rem;

    flex-direction: column;
}

.vertical.carousel .carousel-indicators [data-bs-target] {
    height: 30px;
    width: 3px;
}

.vertical.carousel .carousel-control-prev,
.vertical.carousel .carousel-control-next {
    width: 100%;
    height: 60px;
}

.vertical.carousel .carousel-control-prev-icon,
.vertical.carousel .carousel-control-next-icon {
    transform: rotateZ(90deg);
}

.vertical.carousel .carousel-control-next {
    top: unset;
    bottom: 0;
}