/* Help */
.tips{
    color:#000;
    border:1px solid #00cc00;
    padding:8px;
    margin:15px 10px;
}

.tips img {
   width:22px;
   height:22px;
}

p {
   text-align:justify;
}

.xo-help-menu {
   border:1px solid #ccc;
   padding: 5px;
   margin: 5px auto;
   border-radius: 3px;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#help-template {
   width: 98% !important;
   border:1px solid #ccc;
   padding: 5px;
}

#help-content {
   width: 98% !important;
   margin: 0 auto;
}

#non-modhelp {
    padding: 20px;
    background-color: #dfdfdf;
    border:1px solid #ccc;
    font-size: 12px;
    font-weight: bold;

}
