name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
      - master
      - feature/2512

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.2
        with:
          linter: jetbrains/qodana-php:2024.2  # Pinning the linter version
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
